html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5% 5% 5%;
    
}
.one {
    background-color: #FF764E;
}

.two {
    background-color: #5ED3EB;
}

.three {
    background-color: #FFCD69;
}

h1 {
    font-family: 'Chelsea Market';
    font-size: 2.5rem;
    display: inline-block;
    width: 50%;
}

h2 {
    display: inline-block;
    width: 50%;
}

h3 {
    display: inline-block;
    width: 50%;
}

header {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

h2, h3, p, nav {
    font-family: 'Roboto Mono', monospace;
}

section {
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
}

nav {
    display: block;
    text-align: center;
    margin: 20px 20px;
    height: 10%;
}

.YCanyons { 
    height: 35%;
    width: 35%;
    border-radius: 100%;
    margin-top: 10%;
    display: inline-block;
}

.LittlePic {
    
}